<ion-content>
  <div class="flex-center">
  
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Reciclica</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input label="Enter Email" labelPlacement="floating" placeholder="Email"></ion-input>
        <ion-input label="Enter Password" labelPlacement="floating" placeholder="Paasword"></ion-input>

        <ion-button fill="clear" size="full" color="dark">FOrget Email/Password</ion-button>
        <ion-button size="full" color="success">Login</ion-button>
        <ion-button fill="clear" size="full" color="success" >Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>