

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title >What do you want to do  with recycle waste ?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>I want to buy it</ion-label>
        <ion-radio slot="start"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>I want to sell it</ion-label>
        <ion-radio slot="start"></ion-radio>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title > COntect</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input label=" Name" labelPlacement="floating" placeholder="Name"></ion-input>
      <ion-input label=" Email" labelPlacement="floating" placeholder="Email"></ion-input>
      <ion-input label=" Password" labelPlacement="floating" placeholder="Password"></ion-input>
      <ion-input label=" Conform Password" labelPlacement="floating" placeholder="Conform Password"></ion-input>
      <ion-input label=" Phone Number" labelPlacement="floating" placeholder="Phone Number"></ion-input>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title >Address Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input label=" Address" labelPlacement="floating" placeholder="Name"></ion-input>
      <ion-input label=" Number" labelPlacement="floating" placeholder="Email"></ion-input>
      <ion-input label=" Neighbourhood" labelPlacement="floating" placeholder="Neighbourhood"></ion-input>
      <ion-input label=" Zip Code" labelPlacement="floating" placeholder="Zip Code"></ion-input>
      <ion-input label=" State" labelPlacement="floating" placeholder="State"></ion-input>
      <ion-input label=" City" labelPlacement="floating" placeholder="City"></ion-input>



    </ion-card-content>
  </ion-card>

  <ion-button size="full" color="light">register</ion-button>
</ion-content>
